#App{
  
  width: 100%;
  padding: 0px;
}
.App{ 
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.root{
  background: #3D3D3D;
  color: white;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.section{
  display: flex;
  padding: 20px;
}
.form{
  width: 66%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.playlist{
  width: 34%;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

input{
  width: 30rem;
  margin: 5px 0px;
  border-radius: 5px 5px;
}
textarea{
  width: 100%;
  height: 10rem;
  padding: 5px;
  border: 1px black solid;
  border-radius: 5px 5px;
}
label{
  margin: 5px 0px;
}
input[type="submit"],input[type="button"]{
  color: white;
  border: 0;
  border-radius: 5px 5px;
  width: 30%;
  background: #0275D8;
  -webkit-appearance: button;
}

.playListItem{
  background: #70BBEB;
  padding: 10px 30px;
  margin: 15px 0px;
  border-radius: 10px 10px;
}
.field{
  color: black;
}
#update_btn{
  background: #38BA54
}